body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
}

#loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}