.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #222;
  font-size: 14px;
}

#pages {
  padding-bottom: 70px;
}

.page {
  display: none;
  padding: 15px;
}

.page.active {
  display: block;
}

iframe {
  width: 100%;
  height: 70vh;
  border: none;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: #222;
}

.bottom-menu button {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
}